body {

background-image: url("https://phonoteka.org/uploads/posts/2023-03/1680268378_phonoteka-org-p-belo-zelenii-fon-dlya-prezentatsii-foni-vk-1.jpg");
}

 main {

      color: #46664d;
      text-align: left;
 }

 div {
      color: #46664d;
      text-align: left;

 }
 p {
 text-indent: 20px;
 }
 ul {
 list-style-type: disc;
 }
 figure {
 border: 7px solid #46664d;
    padding: 10px;
    display: inline-block;
    width: 190px;
    background-color: #fff;
    margin: 25px;
    font-size: 15px;
 }
